<table class="tabla-estilizada">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Grado</th>
            <th>Contraseña</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Pedro</td>
            <td>Medina</td>
            <td>pedro.&#64;example.com</td>
            <td>Doctorado</td>
            <td>as123*as</td>
        </tr>
        <tr class="fila-activa">
            <td>Ana</td>
            <td>García</td>
            <td>ana.garcia&#64;example.com</td>
            <td>Maestría</td>
            <td></td>
        </tr>
    </tbody>
</table>
